.city-dropdown {
    width: 98%;
    margin-top: -2.4rem;
    left: 12px !important;
    transform: none !important;
    max-width: 100% !important;
}

@media only screen and (max-width: 768px) {
    .city-dropdown {
        width: 92%;
        margin-top: -4rem;
    }
}

.cityInputSearch {
    width: 100%;
}

.search-wrapper {
    position: relative;
    width: 53%;
}

.search-wrapper .fa-search {
    position: absolute;
    right: 13px;
    top: 35px;
    color: #a9a9a9;
}

.rel {
    position: relative;
}

.city-dropdown ul.city_predictions li .slds-listbox__option-icon {
    display: none;
}

.city-dropdown ul.city_predictions li span.slds-truncate:hover {
    background-color: rgba(0, 0, 0, 0.09);
}

.city-dropdown ul.city_predictions li span.slds-truncate {
    display: block;
    padding: 5px 15px;
    border-bottom: 1px solid #f5f5f5;
}

.addressForm {
    position: relative;
}

.search_icon,
.clear_icon {
    position: absolute;
    top: 34%;
    right: 1.5%;
    width: 3.5%;
}

.clear_icon:hover {
    fill: dodgerblue;
    cursor: pointer;
}

.circle_help {
    margin: 0rem 0.2rem 0rem 0.75rem;
    width: 1%;
}

.display-none {
    display: none;
}