<template>
    <lightning-card title="Demo Location Fetching using Google API">
        <c-demo32-location-fetcher onfetchinglocation={locationFetched} onclear={handleClear}>
        </c-demo32-location-fetcher>

        <div class="slds-grid slds-gutters slds-wrap slds-m-around_xx-small">
            <div class="slds-col slds-size_1-of-1 slds-medium-size_6-of-12 slds-large-size_6-of-12">
                <lightning-input label="Street" name="street" onchange={handleInputChange} required
                    value={dataObj.route} disabled={disableFields} field-level-help={LP_Street_Address_Help_Text}>
                </lightning-input>
            </div>
            <div class="slds-col slds-size_1-of-1 slds-medium-size_6-of-12 slds-large-size_6-of-12">
                <lightning-input label="City" name="city" onchange={handleInputChange} required value={dataObj.city}
                    disabled={disableFields}>
                </lightning-input>
            </div>
        </div>

        <div class="slds-grid slds-gutters slds-wrap slds-m-around_xx-small">
            <div class="slds-col slds-size_1-of-1 slds-medium-size_6-of-12 slds-large-size_6-of-12">
                <lightning-input label="State" name="state" onchange={handleInputChange} required value={dataObj.state}
                    disabled={disableFields}>
                </lightning-input>
            </div>
            <div class="slds-col slds-size_1-of-1 slds-medium-size_6-of-12 slds-large-size_6-of-12">
                <lightning-input type="text" autocomplete="none" label="Zip" pattern="^[0-9]+$" minlength="5"
                    maxlength="5" required onchange={handleInputChange} name="zip" style="width: 100%;"
                    value={dataObj.postalCode} disabled={disableFields} message-when-pattern-mismatch="Invalid Zip
                        code.">
                </lightning-input>
            </div>
        </div>
    </lightning-card>
</template>